<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <header>
            <h1>Supermercado</h1>
    
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'productos' %}">Productos</a></li>
                <li><a href="{% url 'soporte' %}">Soporte</a></li>
            </ul>
        </nav>
    </header>

    <H1>Hola fiel cliente, sé bienvenido a la sección de productos</H1>
    <p>Aquí encontrarás todos los productos que ofrecemos en nuestros mercados</p>
<nav>
            <ul>
                <img src="#" alt="Frutas">
                <li><a href="#">Frutas</a></li> 
                <button><a href="#">Ver más de la sección de frutas</a></button>
                <img src="#" alt="Ariculos de cocina">
                <li><a href="#">Articulos de cocina</a></li>
                <button><a href="#">Ver más de la sección de articulos de cocina</a></button>
                <img src="#" alt="Granos">
                <li><a href="#">Granos</a></li>
                <button><a href="#">Ver más de la sección de granos</a></button>
                <img src="#" alt="Carnes">
                <li><a href="#">Carnes</a></li>
                <button><a href="#">Ver más de la sección de carnes</a></button>
                <img src="#" alt="Articulos de limpieza">
                <li><a href="#">Ariculos de limpieza</a></li>
                <button><a href="#">Ver más de la sección de articulos de limpieza</a></button>
                <img src="#" alt="Bebidas">
                <li><a href="#">Bebidas</a></li>
                <button><a href="#">Ver más de la sección de bebidas</a></button>
                <img src="#" alt="Aseo personal">
                <li><a href="#">Aseo personal</a></li>
                <button><a href="#">Ver más de la sección de aseo personal</a></button>
            </ul>
        </nav>
    
</body>
</html>