<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soporte</title>
</head>
<body>
    <header>
            <h1>Supermercado</h1>
    
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'productos' %}">Productos</a></li>
                <li><a href="{% url 'soporte' %}">Soporte</a></li>
            </ul>
        </nav>
    </header>

    <h1>Hola comproador, has llegado a la sección de soporte al cliente.</h1>
    <p>Seguramente has llegado aquí porque tienes alguna duda sobre el producto que estás buscando o simplemente quieres contactarnos.
        Si tienes dudas sobre algún producto, puedes contactarte con cualquiera de nuestros asesores, cualquiera de ellos
        está preparado para ayudarte con cualquiera de tus dudas.
        Si tu razón de querer contactarnos es por un tema relacionado a la garantía de un producto, o alguna gestión más grave,
        puedes comunicarte con nosotros directamente a través de nuestro correo, allí te indicaremos qué deberás de hacer o cómo podremos
        ayudarte con cualquier problema o inquietud que tengas.
    </p>
    <a href="SupermercadoGallos@gmailcom">SupermercadoGallos@gmail.com</a>
<h3>Correo de contacto directo con la directiva del supermercado</h3>
<h3>Correos de contacto de nuestros asesores</h3>
<ul>
    <li><a href="Asesor2@gmail.com">Asesora Jineth Sofía</a>
</li>
<li><a href="Aseror1@gmail.com">Asesor Jean Carlos</a></li>
<li><a href="Asesor3@gmail.com">Asesor Charlie Gallón</a></li>
</ul>    
</body>
</html>
